<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ProjectWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>



	<servlet>
		<servlet-name>ChiTietDonHangServlet</servlet-name>
		<servlet-class>Casio.Controller.ChiTietDonHangServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChiTietDonHangServlet</servlet-name>
		<url-pattern>/ChiTietDonHang</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>DonHangServlet</servlet-name>
		<servlet-class>Casio.Controller.DonHangServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DonHangServlet</servlet-name>
		<url-pattern>/DonHang</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LoaiSanPhamServlet</servlet-name>
		<servlet-class>Casio.Controller.LoaiSanPhamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoaiSanPhamServlet</servlet-name>
		<url-pattern>/LoaiSanPham</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>Casio.Controller.UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/TaiKhoan</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SanPhamServlet</servlet-name>
		<servlet-class>Casio.Controller.SanPhamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/GioHang</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>Casio.Controller.CartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SanPhamServlet</servlet-name>
		<url-pattern>/SanPham</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>CharacterSetFilter</filter-name>
		<filter-class>Casio.Utl.CharacterSetFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CharacterSetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>https://localhost:8443</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,PUT,DELETE,HEAD,OPTIONS</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Content-Type,X-Requested-With,Accept,Authorization,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern> /* </url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>httpHeaderSecurity</filter-name>
		<filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>antiClickJackingEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>httpHeaderSecurity</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>securedapp</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>


	<filter>
		<filter-name>CacheControlFilter</filter-name>
		<filter-class>Casio.Utl.CacheControlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>